.card:hover {
  transition: all 0.4s ease-in-out;
  transform: scale(1.03);
  box-shadow: 0px 0px 20px #5b5b5b;
}

.card {
  transition: all 0.4s ease-in-out;
  transform: scale(1);
}

.switch-button:hover {
  filter: brightness(1.2);
}

.switch-button {
  filter: drop-shadow(1px 0px 5px #5b5b5b);
  width: 110px;
  height: auto;
}

@media (max-width: 767px) {
  .switch-button {
    width: 100px;
  }
}

.github-sticker:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
}

.github-sticker {
  /*filter: drop-shadow(-2px -2px 7px #5b5b5b);*/
  opacity: 0.75;
  width: 75px;
  height: auto;
  transform: rotate(5deg);
  position: absolute;
  bottom: -20px;
  right: -15px;
  z-index: 1;
  transform-origin: bottom right;
  transition: transform 0.3s ease-in-out;
}

@media (min-width: 767px) {
  .github-sticker {
    width: 90px;
  }
}

/* TOP TAPE */
.top-paper-tape {
  filter: drop-shadow(1px 0px 5px #5b5b5b);
  opacity: 0.7;
  width: 50%;
  height: auto;
  transform: rotate(48deg);
  position: absolute;
  top: 75px;
  right: -50px;
  z-index: 1000;
  transform-origin: top right;
}

@media (max-width: 1199px) {
  .top-paper-tape {
    top: 60px; /* Můžete upravit pozici, aby byl obrázek stále na správném místě */
    right: -45px;
  }
}

@media (max-width: 990px) {
  .top-paper-tape {
    top: 60px; /* Můžete upravit pozici, aby byl obrázek stále na správném místě */
    right: -50px;
  }
}

@media (max-width: 767px) {
  .top-paper-tape {
    top: 110px; /* Můžete upravit pozici, aby byl obrázek stále na správném místě */
    right: -80px;
  }
}

/* BOTTOM TAPE */
.bottom-paper-tape {
  filter: drop-shadow(1px 0px 5px #5b5b5b);
  opacity: 0.7;
  width: 50%;
  height: auto;
  position: absolute;
  bottom: -15px;
  left: 110px;
  z-index: 1000;
  transform-origin: bottom left;
  transform: scale(-1) rotate(43deg);
}

@media (max-width: 1199px) {
  .bottom-paper-tape {
    bottom: -10px;
    left: 85px;
  }
}

@media (max-width: 990px) {
  .bottom-paper-tape {
    bottom: -20px;
    left: 90px;
  }
}

@media (max-width: 767px) {
  .bottom-paper-tape {
    bottom: -35px;
    left: 140px;
  }
}
