.footer-container {
    position: fixed;
    bottom: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    z-index: 2;
    max-height: 75px;
    background-image: linear-gradient(
            to right,
            #FFAA00D6 -200%,
            #94AA63F4 50%
    );
    box-shadow: 0 -4px 24px #0000004C;
}

@media (max-width: 743px) {
    .footer-container {
        position: unset;
    }
    .audio-player {
        visibility: hidden;
    }
}

.audio-player {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
    position: fixed;
    bottom: -230px;
    left: 50px;
    z-index: 1;
    transform: scale(1);
    transition: all 0.7s ease-in-out;
    background-image: linear-gradient(
            85deg,
            #d9d9d9 -25%,
            #006B9DD3 100%
    );
    rotate: 2deg;
}

.audio-player:hover {
    bottom: 40px;
    left: 50px;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 0.7s ease-in-out;
    border: 3px solid #ffffff;

    .top-line {
        border-color: #ffffff !important;
    }
}

