.bg-warning {
  background-color: #ffaa0040 !important;
}

.img-thumbnail {
  width: 100px;
  transition: transform 0.5s ease-in-out, filter 0.5s ease-in-out;
  border: 3px dotted #ffaa00;
}

.img-thumbnail:hover {
  transform: scale(1.1);
  filter: brightness(1.05);
  transition: transform 0.5s ease-in-out, filter 0.5s ease-in-out;
}
